html, body { height:100%; }
body {
    margin:0;
    font-family: Arial, sans-serif;
}

.video {
    width: 640px;
    height: 360px;
    border: 12px solid #993e96;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.fn {
    font-size: 0;
}

.block-left {
    display: inline-block;
    vertical-align: top;
    width: 670px;
    padding: 10px 0;
    box-sizing: border-box;
}

.block-right {
    display: inline-block;
    vertical-align: top;
    width: 130px;
    padding: 10px 15px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    background: #000;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.img {
    font-size: 12px;
}

.img img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.img > div {
    padding: 5px;
}

#debug {
    display: none;
}